<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ACADIA"
        tools:targetApi="31">
        <activity
            android:name=".activity.staff.StaffData"
            android:exported="false" />
        <activity
            android:name=".activity.staff.StaffAdd"
            android:exported="false" />
        <activity
            android:name=".activity.staff.StudentList"
            android:exported="false" />
        <activity
            android:name=".activity.staff.StaffList"
            android:exported="false" />
        <activity
            android:name=".activity.student.Classroom"
            android:exported="false" />
        <activity
            android:name=".activity.student.Community"
            android:exported="false" />
        <activity
            android:name=".activity.student.JoinNewClassroom"
            android:exported="false" />
        <activity
            android:name=".activity.student.StudentHomePage"
            android:exported="false" />
        <activity
            android:name=".activity.student.StudentProfile"
            android:exported="false"
            android:theme="@style/Theme.ACADIA" />
        <activity
            android:name=".activity.staff.StaffProfile"
            android:exported="false" />
        <activity
            android:name=".activity.staff.StaffHomePage"
            android:exported="false" />
        <activity
            android:name=".activity.student.Quiz"
            android:exported="false" />
        <activity
            android:name=".activity.student.AssigmentUpload"
            android:exported="false" />
        <activity
            android:name=".activity.student.ClassroomChat"
            android:exported="false" />
        <activity
            android:name=".activity.student.QuizList"
            android:exported="false" />
        <activity
            android:name=".activity.student.AssignmentList"
            android:exported="false" />
        <activity
            android:name=".activity.student.AttendenceReport"
            android:exported="false" />
        <activity
            android:name=".activity.student.ClassroomList"
            android:exported="false" />
        <activity
            android:name=".activity.Home"
            android:exported="false"
            android:theme="@style/Theme.ACADIA" />
        <activity
            android:name=".activity.SignUp"
            android:exported="false" />
        <activity
            android:name=".activity.Login"
            android:exported="false" />
        <activity
            android:name=".activity.Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>